/*
 * CSS File for the solution
 * Midterm Exam
 * You got this!
 */

/*
 * COLOUR PALETTE
 *
 * YOU DO NOT NEED TO USE THESE COLOURS, BUT YOU CAN IF YOU WANT TO
 *   #ede0d4
 *   #e6ccb2
 *   #ddb892
 *   #b08968
 *   #7f5539
 *   #9c6644
 *
 * https://coolors.co/palette/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644
 */

/*
 * The width of my Product Card in the screenshot was 400px
 * You can use that width or set your own width
 */

/*
 * HINT: For making image fill the container use object-fit:cover property:
 *  https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit
 */

html {
  font-size: 1.0rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}



main {
  background-color: #ede0d4;
  display: flex;
  justify-content:center;
  align-items: center;
}

.bigBox {
  background-color: white;
  display: flex;
  width: 400px;
  flex-direction: column;
  margin: 100px 100px 100px 100px;
  border-radius: 30px;
 
}

.bigBox img {
  
  border-radius: 30px 30px 0px 0px;
  height: 400px;
  width: 400px;
  overflow: hidden;
 
}

.bigBox a {
  text-decoration: none;
  color: white;
  background-color: #7F5539;
  width: 80%;
  margin: 10px;
  text-align: center;
  border-radius: 0.3rem;
  align-self: center;

}

.bigBox h1 {
  display: flex;
  color: #7F5539;
  font-size: small;
  align-self: flex-start;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  
}

.bigBox h2 {
  display: flex;
  color: #7F5539;
  align-self: flex-start;
  margin-left: 2rem;
  font-size: xx-large;

}

.content {
  margin: 10px;
  padding: 20px;
  color: #b08968;
}

.price {
  font-size:1.5cm;
  font: bold;
  margin-left: 1rem;
  display: flex;
  align-self: start;
  color: #7f5539;
}

.bigBox a:hover {
  color: white;
  background: rgb(221,184,146);
background: linear-gradient(90deg, rgba(221,184,146,1) 5%, rgba(176,137,104,1) 37%, rgba(156,102,68,1) 72%);
  text-decoration: none;
  
}